.account-applications-view
	button.btn.btn-xs.btn-primary.pull-right.logout(type="button" ng-click="logout()") 
		span Log out
		i.fa.fa-sign-out
		
	.ibox
		.ibox-title 
			h5 My Applications
		.ibox-content
			.application-summary.well(ng-repeat="application in applications")
				.name {{application.name}}
				
				.labels
					.label.label-danger(
						ng-hide="application.enabled"
						tooltip="This application is currently disabled. Contact your hosting administrator for more information."
						tooltip-animation="true" 
						tooltip-placement="bottom"
					) Disabled 

				.controls
					a.btn.btn-xs.btn-success(
						ui-sref="application({ environment_id: application['default_environment_id'] })"
						target="_blank"
					)
						i.fa.fa-globe
						span Open
					button.btn.btn-xs.btn-primary(
						ng-show="userCanEditApplication(application)"
						ui-sref="factory.dashboard({ environment_id: application['default_environment_id'] })"
					)
						i.fa.fa-pencil
						span Edit
						

				i.icon.fa.fa-gear

			.clearfix
				button.btn.btn-success.pull-right(type="button" ng-click="createApplication()") 
					i.fa.fa-plus
					span Create Application
