.account-subview
	.ibox
		.ibox-title 
			h5 Register
		.ibox-content
			.well.well-sm
				span To activate your account, enter a password below.
			form.clearfix(novalidate name="form" ng-submit="submit()")
				.form-group
					label(for="password") Password
					input.form-control(
						type="password"
						id="password"
						name="password"
						ng-model="password"
						required
						ng-minlength="5"
						ng-maxlength="50"
					)
				.form-group
					label(for="confirmPassword") Confirm Password
					input.form-control(
						type="password"
						id="confirmPassword"
						name="confirmPassword"
						ng-model="confirmPassword"
						required
						compare-to="password"
					)

				.alert.alert-warning(ng-show="showValidationErrors && form.$invalid")
					div(ng-show="form.password.$error.required") Password is required.
					div(ng-show="form.password.$error.minlength") Password must be between 5-50 characters.
					div(ng-show="form.password.$error.maxlength") Password must be between 5-50 characters.
					div(ng-show="form.confirmPassword.$error.compareTo") Confirm Password must match.

				.pull-right
					button.btn.btn-primary(type="submit")
						span Activate
						i.fa.fa-angle-right
