.account-subview
	.ibox
		.ibox-title 
			h5 Forgot Password
		.ibox-content
			div(ng-show="showForm")
				.well.well-sm
					span To reset your password, enter your email address below, and we will send you a special link.
				form.clearfix(novalidate name="form" ng-submit="submit()")
					.form-group
						label(for="email") Email
						input.form-control(
							type="email"
							id="email"
							name="email"
							ng-model="user.email"
							required
							ng-trim="true"
						)

					.alert.alert-warning(ng-show="showValidationErrors && form.$invalid")
						div(ng-show="form.email.$error.required") Email is required.
						div(ng-show="form.email.$error.email") Email format is invalid.

					.pull-right
						button.btn.btn-link(type="button" ui-sref="account.login")
							span Back to Login
						button.btn.btn-primary(type="submit")
							span Send
							i.fa.fa-angle-right

			.alert.alert-success(ng-show="showSuccessMessage")
				i.fa.fa-envelope
				span Please check your email for a link to set your password.