.configure-table-widget-modal
	form(novalidate name="form" ng-submit="submit()")
		.modal-header
			.modal-title Configure Table

		.modal-body
			.row
				//- .form-group.col-sm-12
				//- 	label Data Source
				//- 	select.form-control(
				//- 		name="dataSourceType"
				//- 		ng-options="type.value as type.name for type in dataSourceTypes | orderBy:type.value"
				//- 		ng-model="result.data_source.type"
				//- 		required
				//- 		autofocus
				//- 	)
				.form-group.col-sm-12(ng-show="shouldShowDocumentType()")
					label Document Type
					select.form-control(
						name="documentSchemaId"
						autofocus="true"
						ng-required="shouldShowDocumentType()"
						ng-options="documentSchema._id as documentSchema.name for documentSchema in documentSchemas"
						ng-model="result.data_source.document_schema_id"
					)
			.alert.alert-warning(ng-show="showValidationErrors && form.$invalid")
				div(ng-show="form.dataSourceType.$error.required") Data Source is required.
				div(ng-show="form.documentSchemaId.$error.required") Document Type is required.
		.modal-footer
			button.btn.btn-default(type="button" ng-click="$dismiss()") Cancel
			button.btn.btn-primary(type="submit") 
				span Save
				i.fa.fa-chevron-right
