.edit-view-modal
	form(novalidate name="form")
		.modal-header
			.modal-title Configure View

		.modal-body
			.row
				.form-group.col-sm-12
					label Name
					input.form-control(
						type="text"
						name="name"
						required
						ng-model="view.widget.name"
						autofocus="true"
					)
					
			tabset
				tab
					tab-heading
						i.fa.fa-columns 
						span Columns
					.attribute-items#sort-bounds-columns(as-sortable="sortableOptionsAttributes" ng-model="attributes")
						.attribute-item(ng-repeat="attribute in attributes" as-sortable-item)
							.summary
								i.fa.data-type(ng-class="attribute.data_type | dictionary:attributeDataTypes:'icon'")
								span(ng-bind="attribute.name")
							.controls
								button.btn.btn-xs.btn-default.sorting-handle(as-sortable-item-handle type="button")
									i.fa.fa-arrows
								button.btn.btn-xs.btn-primary.column-toggle(ng-show="attribute.$selected" ng-click="deselectAttribute(attribute)" type="button")
									i.fa.fa-check
								button.btn.btn-xs.btn-default.column-toggle(ng-hide="attribute.$selected" ng-click="selectAttribute(attribute)" type="button")
									i.fa.fa-square-o
				tab
					tab-heading
						i.fa.fa-filter
						span Filter
					.filter-list
						af-attribute-filter(
							ng-repeat="attribute in filterAttributes"
							filter="view.filter" 
							attribute="attribute"
						)
				tab
					tab-heading
						i.fa.fa-sort-amount-asc
						span Sort
					.sort-options
						.sort-entry
							select.form-control.input-sm.value(
								ng-model="sort.value"
								ng-options="option.value as option.attribute.name for option in sortOptions"
							)
							select.form-control.input-sm.direction(
								ng-model="sort.direction"
								ng-options="direction.value as direction.name for direction in sortDirections"
							)
				tab
					tab-heading
						i.fa.fa-lock
						span Limit
					.limit-list
						af-attribute-filter(
							ng-repeat="limit in limits" 
							filter="limit.value" 
							attribute="limit.attribute"
						)
					hr(ng-if="limits.length")/
					.add-limit
						label Add Limit
						.add-limit-form.clearfix
							select.form-control.input-sm.limit-attribute-select(
								ng-model="newLimit.attribute"
								ng-options="attribute as attribute.name for attribute in filterAttributes"
							)
							af-attribute-filter(
								ng-if="newLimit.attribute"
								filter="newLimit.value"
								attribute="newLimit.attribute"
							)
							button.btn.btn-sm.btn-success.add-limit-btn(ng-if="newLimit.attribute" ng-click="addNewLimit()")
								i.fa.fa-plus
					
			.alert.alert-warning(ng-show="showValidationErrors")
				div(ng-show="form.name.$error.required") Name is required.
				
		.modal-footer
			button.btn.btn-default(type="button" ng-click="$dismiss()") Cancel
			button.btn.btn-primary(type="button" ng-click="submit()") 
				span Save
				i.fa.fa-chevron-right
