.edit-attribute-modal
	.modal-header
		h3.modal-title
			span(ng-if="createMode") Add
			span(ng-hide="createMode") Edit
			span &nbsp;Attribute

	.modal-body
		form(
			ng-submit="submit()"
			name="form"
			novalidate
		)
			tabset
				tab(heading="General")
					.form-group
						label Name
						input.form-control(
							type="text"
							ng-model="attribute.name"
							af-enter="submit()"
							name="name"
							autofocus="true"
							required
						)
					.form-group
						label Data Type
						select.form-control(
							ng-model="attribute.data_type"
							ng-options="type.value as type.name for type in attributeDataTypes"
							ng-change="updateDataType()"
							ng-disabled="isEdit"
							af-enter="submit()"
							name="data_type"
							required
						)
					.form-group
						label Value Type
						select.form-control(
							ng-model="attribute.value_type"
							ng-options="type.value as type.name for type in attributeValueTypes"
							ng-change="updateValueType()"
							ng-disabled="isEdit"
							af-enter="submit()"
							name="value_type"
							required
						)
				tab(heading="Configuration" ng-show="shouldShowConfigurationTab()")
					af-attribute-configuration(
						attribute="attribute"
						ng-show="shouldShowConfiguration()"
					)
					.form-group(ng-show="shouldShowRoutineSelection()")
						label Routine
						select.form-control(
							name="routineId"
							ng-required="shouldShowRoutineSelection()"
							ng-options="routine._id as routine.name for routine in routines"
							ng-model="attribute.routine_id"
						)

		.alert.alert-warning(ng-show="showValidationErrors && form.$invalid")
			div(ng-show="form.name.$error.required") Name is required.
			div(ng-show="form.data_type.$error.required") Data Type is required.
			div(ng-show="form.value_type.$error.required") Value Type is required.
			div(ng-show="form.routineId.$error.required") Routine is required.

	.modal-footer
		button.btn.btn-default(type="button" ng-click="$dismiss()") Cancel
		button.btn.btn-primary(type="button" ng-click="submit()") 
			span(ng-if="createMode") Add
			span(ng-hide="createMode") Save
			i.fa.fa-chevron-right
