.edit-navigation-item-model
	form(novalidate name="form" ng-submit="submit()")
		.modal-header
			.modal-title(ng-show="isEdit") Edit Navigation Item
			.modal-title(ng-hide="isEdit") Add Navigation Item

		.modal-body
			.row
				.form-group.col-sm-12
					label Name
					input.form-control(
						type="text"
						name="name"
						ng-model="result.name"
						required
						autofocus="true"
					)
				.form-group.col-sm-12
					label Type
					select.form-control(
						name="type"
						ng-options="type.value as type.name for type in navigationItemTypes | orderBy:type.value"
						ng-model="result.type"
						required
					)
				.form-group.col-sm-12(ng-show="shouldShowScreenSelection()")
					label Screen
					select.form-control(
						name="screenId"
						ng-options="screen._id as screen.name for screen in screens"
						ng-model="result.screen_schema_id"
						ng-required="shouldShowScreenSelection()"
					)
				.form-group.col-sm-12(ng-show="shouldUrlInput()")
					label URL
					input.form-control(
						type="url"
						name="url"
						ng-model="result.url"
						ng-required="shouldUrlInput()"
					)
			.alert.alert-warning(ng-show="showValidationErrors && form.$invalid")
				div(ng-show="form.name.$error.required") Name is required.
				div(ng-show="form.type.$error.required") Type is required.
				div(ng-show="form.url.$error.required") URL is required.
				div(ng-show="form.url.$error.url") URL is not valid (remember to specify a protocol, such as http://).
				div(ng-show="form.screenId.$error.required") Screen is required.
		.modal-footer
			button.btn.btn-default(type="button" ng-click="$dismiss()") Cancel
			button.btn.btn-primary(type="submit") 
				span(ng-hide="isEdit") Add
				span(ng-show="isEdit") Save
				i.fa.fa-chevron-right
