.service-value-configuration
	.form-group
		label Type
		select.form-control.input-sm(
			ng-options="type.value as type.name for type in dataTypes"
			ng-model="selectedDataType"
			ng-change="dataTypeChanged()"
		)
	.form-group(ng-show="showDocumentTypeSelection()")
		label Document Type
		select.form-control.input-sm(
			ng-options="documentSchema as documentSchema.name for documentSchema in documentSchemas track by documentSchema._id"
			ng-model="selectedDocumentSchema"
			ng-change="documentTypeChanged()"
		)
	.form-group(ng-show="showAttributeSelection()")
		label Attribute
		select.form-control.input-sm(
			ng-options="attribute as attribute.name for attribute in attributes track by attribute.id"
			ng-model="selectedAttribute"
			ng-change="attributeChanged()"
		)
	.form-group(ng-show="showValue()")
		label Value
		.service-value
	.form-group
		label Reference Name
		input.form-control.input-sm(
			type="text"
			ng-model="service.configuration.name"
		)
