.app-widget.app-widget-table
	.ibox
		.ibox-title.header
			h5(ng-bind="::widget.name")
			.controls
				.sort-options
					button.btn.btn-xs.btn-link(ng-click="toggleSortPanel()")
						i.fa.fa-sort-amount-asc
					.sort-panel(ng-show="sortPanel.isOpen")
						.sort-entry.clearfix
							select.form-control.input-sm.value(
								ng-model="sortPanel.value"
								ng-options="attribute.value as attribute.name for attribute in sortableAttributes"
							)
							select.form-control.input-sm.direction(
								ng-model="sortPanel.direction"
								ng-options="direction.value as direction.name for direction in sortDirections"
							)
						.buttons
							button.btn.btn-xs.btn-default(ng-click="closeSortPanel()")
								span Cancel
							button.btn.btn-xs.btn-primary(ng-click="updateSort()")
								span Update
				button.add-document.btn.btn-xs.btn-success(ng-click="addDocument()")
					i.fa.fa-plus
					span Add&nbsp;
					span(ng-bind="::documentSchema.name")
		.ibox-content
			.table-wrapper
				.table-scroll
					table.table.table-hover.table-striped.table-condensed
						thead
							tr
								th(ng-repeat="attribute in documentSchema.attributes")
									.row-heading(ng-bind="::attribute.name")
								th()
									.row-heading
						tbody
							tr(
								ng-repeat="document in documents"
								ng-mouseenter="document.$showButtons=true"
								ng-mouseleave="document.$showButtons=false"
							)
								td(ng-repeat="attribute in documentSchema.attributes" width="{{100/documentSchema.attributes.length}}%")
									af-attribute-value(
										attribute="attribute"
										document="document"
									)
								td.controls(width="75")
									.btn-group.pull-right(ng-show="document.$showButtons")
										button.btn.btn-xs.btn-success(ng-click="viewDocument(document)")
											i.fa.fa-search
										button.btn.btn-xs.btn-primary(ng-click="editDocument(document)")
											i.fa.fa-pencil
										button.btn.btn-xs.btn-default(ng-click="deleteDocument(document)")
											i.fa.fa-trash

							tr(ng-hide="documents.length")
								td(colspan="99")
									.text-muted No Data

					.load-more(ng-show="shouldShowMoreLink()")
						a(ng-click="loadMore()")
							span Load More Records
							i.fa.fa-angle-down
