.document-schema
	.row.wrapper.border-bottom.white-bg.page-heading
		.col-lg-12(ng-switch="editMode")
			div(ng-switch-when="false")
				.metadata.pull-left
					h2(ng-bind="documentSchema.name")
					p(ng-bind="documentSchema.description")
				.controls.pull-right
					button.btn.btn-xs.btn-primary(ng-click="startEditDocumentSchema()")
						i.fa.fa-pencil
						span Edit
					button.btn.btn-xs.btn-default(ng-click="deleteDocumentSchema()")
						i.fa.fa-trash
			div(ng-switch-when="true")
				.edit.metadata.pull-left
					input.form-control.title(
						type="text"
						ng-model="documentSchema.name"
					)
					textarea.form-control.description(
						rows="2"
						cols="50"
						ng-model="documentSchema.description"
					)
				.controls.pull-right
					button.btn.btn-xs.btn-primary(ng-click="saveDocumentSchema()")
						i.fa.fa-save
						span Save
					button.btn.btn-xs.btn-default(ng-click="cancelEditDocumentSchema()")
						i.fa.fa-close
						span Cancel
	br/
	.row.wrapper
		.col-lg-4
			.ibox
				.ibox-title(ng-switch="editMode")
					h5.pull-left Attributes
					div(ng-switch-when="true")
						button.btn.btn-xs.btn-success.pull-right(ng-click="newAttribute()")
							i.fa.fa-plus
				.ibox-content
					.attributes-list
						.attribute-item(
							ng-repeat="attribute in documentSchema.attributes" 
							ng-click="selectAttribute(attribute)"
							ng-class="{'selected': attribute===selectedAttribute}"
						)
							i.fa.data-type(ng-class="attribute.data_type | iconDictionary:attributeDataTypes")
							span(ng-bind="attribute.name")
							i.fa.fa-angle-right.pull-right
						.text-muted.text-center(ng-hide="documentSchema.attributes.length") No Attributes
			
		.col-lg-8
			.ibox.edit-attribute(ng-if="selectedAttribute")
				.ibox-title.clearfix(ng-switch="editMode")
					div(ng-switch-when="false")
						h5.pull-left(ng-bind="selectedAttribute.name")
					div(ng-switch-when="true")
						input.form-control.pull-left.title(
							type="text"
							ng-model="selectedAttribute.name"
						)
						button.btn.btn-xs.btn-default.pull-right(ng-click="deleteAttribute()")
							i.fa.fa-trash
				.ibox-content
					.form-group.text-muted
						label Data Type
						div.form-control-static
							i.fa.data-type(ng-class="selectedAttribute.data_type | iconDictionary:attributeDataTypes")
							span(ng-bind="selectedAttribute.data_type | dictionary:attributeDataTypes")
					
					pre {{selectedAttribute | json}}

