.document-schema
	.row.wrapper.border-bottom.white-bg.page-heading
		.col-lg-12(ng-switch="editMode")
			div(ng-switch-when="false")
				.metadata.pull-left
					h2 {{documentSchema.name}}
					p {{documentSchema.description}}
				.controls.pull-right
					button.btn.btn-xs.btn-primary(ng-click="startEditDocumentSchema()")
						i.fa.fa-pencil
						span Edit
					button.btn.btn-xs.btn-default(ng-click="deleteDocumentSchema()")
						i.fa.fa-trash
			div(ng-switch-when="true")
				.edit.metadata.pull-left
					input.form-control.title(
						type="text"
						ng-model="documentSchema.name"
					)
					textarea.form-control.description(
						rows="2"
						cols="50"
						ng-model="documentSchema.description"
					)
				.controls.pull-right
					button.btn.btn-xs.btn-primary(ng-click="saveDocumentSchema()")
						i.fa.fa-save
						span Save
					button.btn.btn-xs.btn-default(ng-click="cancelEditDocumentSchema()")
						i.fa.fa-close
						span Cancel
	br/
	.row.wrapper
		.col-lg-4
			.ibox
				.ibox-title 
					h5.pull-left Attributes
					button.btn.btn-xs.btn-success.pull-right(ng-click="newAttribute()" ng-show="editMode")
						i.fa.fa-plus
				.ibox-content
					.attributes
						.attribute(
							ng-repeat="attribute in documentSchema.attributes" 
							ng-click="selectAttribute(attribute)"
							ng-class="{'selected': attribute===selectedAttribute}"
						)
							i.fa.fa-text(ng-class="attribute.type | iconDictionary:attributeDataTypes")
							span {{attribute.name}}
							i.fa.fa-angle-right.pull-right
						.text-muted.text-center(ng-hide="documentSchema.attributes.length") No Attributes
			
		.col-lg-8
			.ibox(ng-show="selectedAttribute")
				.ibox-title
					h5.pull-left {{selectedAttribute.name}}
					button.btn.btn-xs.btn-default.pull-right(ng-click="deleteAttribute()" ng-show="editMode")
						i.fa.fa-trash
				.ibox-content

