.register-view
	.ibox
		.ibox-title 
			h5 Register
		.ibox-content
			form(novalidate name="form" ng-submit="submit()")
				.form-group
					label(for="name") Name
					input.form-control(
						type="name"
						id="name"
						name="name"
						ng-model="name"
						required
						ng-trim="true"
						autofocus
					)
				.form-group
					label(for="email") Email
					input.form-control(
						type="email"
						id="email"
						name="email"
						ng-model="email"
						required
						ng-trim="true"
					)
				.form-group
					label(for="password") Password
					input.form-control(
						type="password"
						id="password"
						name="password"
						ng-model="password"
						required
						ng-minlength="5"
						ng-maxlength="50"
					)
				.form-group
					label(for="confirmPassword") Confirm Password
					input.form-control(
						type="password"
						id="confirmPassword"
						name="confirmPassword"
						ng-model="confirmPassword"
						required
						compare-to="password"
					)

				.alert.alert-warning(ng-show="showValidationErrors && form.$invalid")
					div(ng-show="form.name.$error.required") Name is required.
					div(ng-show="form.email.$error.required") Email is required.
					div(ng-show="form.email.$error.email") Email format is invalid.
					div(ng-show="form.password.$error.required") Password is required.
					div(ng-show="form.password.$error.minlength") Password must be between 5-50 characters.
					div(ng-show="form.password.$error.maxlength") Password must be between 5-50 characters.
					div(ng-show="form.confirmPassword.$error.compareTo") Confirm Password must match.

				button.btn.btn-primary(type="submit")
					span Register