.attribute-input.input-group.input-group-sm
	input.form-control(
		type="text" 
		ng-model="value"
		ng-change="valueUpdated()"
		datepicker-popup="{{calendarFormat}}"
		datepicker-append-to-body="true"
		is-open="calendarIsOpen" 
	)
	.input-group-btn
		button.btn.btn-default(ng-click="openCalendar($event)" type="button")
			i.fa.fa-calendar