.factory
	div#wrapper

		nav.navbar.navbar-default.navbar-static-side(role="navigation")
			ul.nav#side-menu
				li.nav-header#side-menu
					img.af-logo(src="/images/factory.png")
					.af-title App Factory
					.af-version(ng-bind="version")

				li(ui-sref-active="active")
					a(ui-sref="factory.dashboard")
						i.fa.fa-tachometer
						span.nav-label Dashboard

				li(ui-sref-active="active")
					a(ng-click="documentsExpanded=!documentsExpanded")
						i.fa.fa-files-o
						span.nav-label Documents
						span.fa.pull-right(ng-class="{'fa-angle-down': !documentsExpanded, 'fa-angle-right': documentsExpanded}")
					ul.nav.nav-second-level(collapse="!documentsExpanded")
						li(ng-repeat="documentSchema in documentSchemas" ng-class="{'active': documentSchemaIsSelected(documentSchema)}")
							a(ui-sref="factory.document({ document_schema_id: documentSchema['_id'] })")
								i.fa.fa-file-o
								span {{documentSchema.name}}
								span.fa.pull-right(ng-class="{'fa-caret-right': documentSchemaIsSelected(documentSchema)}")
						li(ng-if="blueprintIsEditable()")
							a(ng-click="createDocument()")
								i.fa.fa-plus
								span New

				li(ui-sref-active="active")
					a(ng-click="screensExpanded=!screensExpanded")
						i.fa.fa-list-alt
						span.nav-label Screens
						span.fa.pull-right(ng-class="{'fa-angle-down': !screensExpanded, 'fa-angle-right': screensExpanded}")
					ul.nav.nav-second-level(collapse="!screensExpanded")
						li(ng-repeat="screenSchema in screenSchemas" ng-class="{'active': screenSchemaIsSelected(screenSchema)}")
							a(ui-sref="factory.screen({ screen_schema_id: screenSchema['_id'] })")
								i.fa.fa-list-alt
								span {{screenSchema.name}}
								span.fa.pull-right(ng-class="{'fa-caret-right': screenSchemaIsSelected(screenSchema)}")
						li(ng-if="blueprintIsEditable()")
							a(ng-click="createScreenSchema()")
								i.fa.fa-plus
								span New

				li(ui-sref-active="active")
					a(ui-sref="factory.routines")
						i.fa.fa-gears
						span.nav-label Routines

				li(ui-sref-active="active")
					a(ui-sref="factory.layout")
						i.fa.fa-desktop
						span.nav-label Layout

				li(ui-sref-active="active")
					a(ui-sref="factory.theme")
						i.fa.fa-paint-brush
						span.nav-label Theme

				li(ui-sref-active="active")
					a(ui-sref="factory.users")
						i.fa.fa-users
						span.nav-label Users

				li(ui-sref-active="active")
					a(ui-sref="factory.settings")
						i.fa.fa-wrench
						span.nav-label Settings

		div#page-wrapper.gray-bg
			div#top-nav.row.border-bottom
				nav.navbar.navbar-static-top(role="navigation")
					.navbar-header
						a(href="{{getApplicationUrl()}}" target="_blank")
							i.fa.fa-globe
						.app-name {{application.name}}
						.app-label.label.label-primary(
							tooltip="You are in the {{environment.name}} environment."
							tooltip-animation="true" 
							tooltip-placement="bottom"
						) {{environment.name}}
						.app-label.label.label-info(
							tooltip="You are viewing version {{blueprint.version}} of the application."
							tooltip-animation="true" 
							tooltip-placement="bottom"
						) {{blueprint.version}}
						.app-label.label.label-default(
							tooltip="This version is currently in the {{blueprint.status | dictionary:blueprintStatuses}} status."
							tooltip-animation="true" 
							tooltip-placement="bottom"
						) {{blueprint.status | dictionary:blueprintStatuses}}
						.app-label.label.label-danger(
							ng-hide="application.enabled"
							tooltip="This application is currently disabled. Contact your hosting administrator for more information."
							tooltip-animation="true" 
							tooltip-placement="bottom"
						) Disabled 
					ul.nav.navbar-top-links.navbar-right
						li
							span.text-muted Welcome, {{currentUser.profile.name}}
							.user-avatar
								i.fa.fa-user
						li
							a(ui-sref="account.applications")
								span Account
						li
							a(ng-click="logout()")
								span Log out
								i.fa.fa-sign-out

			#main-content(ui-view="")

			#footer.footer
				strong
					a(href="http://app-factory.io" target="_blank") App Factory
				a License
				a Privacy
				a Terms
				a Support
