.attribute-filter.attribute-text-filter(ng-class="{'has-value': hasValue()}")
	label.control-label(ng-bind="::attribute.name")
	.controls
		select.form-control.input-sm.operator(
			ng-options="operatorOption for operatorOption in operatorOptions"
			ng-model="operator"
			ng-change="updateFilterValue()"
		)
		input.form-control.input-sm.value(
			type="text" 
			ng-model="value"
			ng-change="updateFilterValue()"
		)
	button.btn.btn-xs.btn-link.close(type="button" ng-click="clear()" ng-show="hasValue()")
		i.fa.fa-close